<div class="reset-password-page">
    <app-card class="reset-password-card">
        <div class="ta-l">
            <img src="assets/kidsloop_min_logo.svg" alt="" class="mb-12" />
        </div>

        <h2 class="mb-12">Reset Password</h2>

        <form [formGroup]="form">
            <div class="column">
                <input
                    type="email"
                    formControlName="email"
                    class="mb-12"
                    placeholder="Email or Phone"
                    aria-describedby="emailFeedback"
                    [ngClass]="{ invalid: form.controls.email.errors }"
                />
                <div id="emailFeedback" class="invalid-feedback" *ngIf="form.controls.email.errors">
                    <ng-container *ngFor="let error of form.controls.email.errors | keyvalue">
                        {{
                            error.key === 'required'
                                ? 'This field is required'
                                : error.key === 'pattern'
                                ? 'Email needs to be valid'
                                : ''
                        }}
                    </ng-container>
                </div>
            </div>
        </form>

        <div class="row mb-12 jc-sb ai-c">
            <a [routerLink]="['/']">Back</a>
            <button app-button (click)="onResetPassword()">Reset Password</button>
        </div>
    </app-card>
    <app-misc></app-misc>
</div>
